.banner.home-page {
  background: $brand-primary;
  box-shadow: inset  0  8px 8px -8px rgba(0,0,0,0.3),
              inset  0 -8px 8px -8px rgba(0,0,0,0.3);

  p {
    color: #fff;
    text-align: center;
    // line-height: 2.5rem;
    font-size:1.5rem;
    font-weight:300 !important;
    margin-bottom:0px;
  }
  h1 {
    text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    font-weight:700 !important;
    text-align: center;
    font-size:3.5rem;
    padding-bottom:0.5rem;
  }
}

.feed-toggle {
  margin-bottom:1.5rem;
}

.sidebar {
  padding:5px 10px 10px 10px;
  background:#f3f3f3;
  border-radius: 4px;

  p {
    margin-bottom:0.2rem;
  }
}



// Preview links inside post previews
.post-preview {
  border-top:1px solid rgba(0,0,0,.1);
  padding:1.5rem 0;

  .post-meta {
    margin:0 0 1rem 0;
  }
  .preview-link {
    h1 {
      font-weight:700 !important;
      font-size:2rem !important;
    }
    p {
      font-family: 'Source Serif Pro', serif;
      margin-bottom:0;
    }
    // "Read more" span
    span {
      font-size:0.8rem;
      font-weight:300;
      color:#bbb;
    }
  }
}
