$enable-flex:               true;
$enable-grid-classes:       true;

// CONDUIT STYLES //
$font-family-logo:       'Titillium Web', sans-serif;
.logo-font {
  font-family: $font-family-logo;
}

// Bootstrap overrides
$headings-font-family:   'Merriweather Sans', sans-serif;
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$brand-primary: #5CB85C;

// Set the navbar's logo to the conduit logo font & large size
.navbar-brand {
  font-family: $font-family-logo;
  font-size:1.5rem !important;
  padding-top:0rem !important;
  margin-right:2rem !important;
  color:$brand-primary !important;
  // margin-bottom:40px;
}
// set a smooth transition for nav-link hover effects
.nav-link:hover {
  transition: 0.1s all;
}
$navbar-padding-x: 0rem !important;

footer {
  background:#f3f3f3;
  margin-top:3rem;
  padding:1rem 0;

  .attribution {
    vertical-align: top;
    margin-left:10px;
    font-size: 0.8rem;
    color:#bbb;
    font-weight:300;
  }
}


// This is used on homepage & post page
// Basically a pretty wrapper for H1 at top
.banner {
  color:#fff;
  background: #333;
  padding:2rem;
  margin-bottom:2rem;

  h1 {
    text-shadow: 0px 1px 3px rgba(0,0,0,0.3);
    margin-bottom:0px;
  }
}

// Auto offset from top for pages
.container.page {
  margin-top:1.5rem;
}


// Link that doesn't modify color/style of text
.preview-link {
  color: inherit !important;

  &:hover {
    text-decoration: inherit !important;
  }
}


// Generic author information/date container
.post-meta {
  display:block;
  position:relative;
  font-weight: 300;

  img {
    display:inline-block;
    vertical-align: middle;
    height:32px;
    width:32px;
    border-radius:30px;
  }

  .info {
    margin:0 1.5rem 0 0.3rem;
    display:inline-block;
    vertical-align: middle;
    line-height: 1rem;

    .author {
      display:block;
      font-weight: 500 !important;
    }
    .date {
      color:#bbb;
      font-size:0.8rem;
      display:block;
    }

  }
}

// Counter for buttons
.btn .counter {
  font-size:0.8rem !important;
}

// Import all of our SCSS files
@import 'home.scss';
@import 'post.scss';

@import './bootstrap/scss/bootstrap.scss';
