<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Conduit</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:700|Source+Serif+Pro:400,700|Merriweather+Sans:400,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="index.html">conduit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item active">
              <a class="nav-link" href="index.html">Home</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="editor.html">
                <i class="ion-compose"></i>New Post
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="auth.html">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="settings.html">Settings</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
