<%= header %>

<div class="container">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="index.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="auth.html">Auth</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="editor.html">Editor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="post.html">Post</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="profile.html">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="settings.html">Settings</a>
    </li>
  </ul>
</div>

<%= footer %>
